.App {
  text-align: center;
}

.cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cell {
  padding: 10px;
  border: blue solid 1px;
  margin: auto;
}
.selected {
  background: green;
}